
<!-- section works -->
<section id="section-works" class="section appear clearfix">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h2>Add New Article</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <%= form_with scope: :article,  url: articles_path, method: :post , local: true do |form| %>
        <div class="form-group">
          <label for="title">Title</label>
          <%= form.text_field :title, placeholder:'Title', class:'form-control'   %>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <label>Body</label>
          </div>
        </div>

        <div id="content-row">
          <div class="form-group">
            <%= form.text_area :body ,placeholder:'Write something here',class:'form-control' %>
          </div>
        </div>
          <p>
            <%= form.label :photo %>
            <%= form.file_field :image , required:true %>
          </p>
          <p>

            <%= form.submit 'Save', class:'btn btn-success' %>
            <%= link_to 'Back', articles_path, class:'btn btn-info'%>
          </p>
      <%end %>
      </div>

    </div>
  </div>
</section>