<%= form_with scope: :article,  url: articles_path, method: :post , local: true do |form| %>


  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">RailsBlog</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'Home', articles_path%></li>

      </ul>
    </div>
  </nav>
  <h1 style=" text-align: center;text-transform: uppercase; color: #4CAF50;"> Add Article </h1>

<div class="center">

  <p>
    <%= form.label :title , style:'text-align:left' %><br>
    <%= form.text_field :title, placeholder:'Title', style:'width: 1000px; border: 2px solid #ccc; border-radius: 4px;  background-color: #f8f8f8;
      padding: 12px 20px'  %>
  </p>
  <p>
    <%= form.label :tag , style:'text-align:left' %><br>
    <input type="text" class="form-control" name="line"  placeholder="Enter email">
    <%#= form.text_field :line, placeholder:'#Tags',
                        style:'width: 1000px; border: 2px solid #ccc; border-radius: 4px;  background-color: #f8f8f8;
      padding: 12px 20px'  %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :body, 'data-provider': :summernote, class:'center' %>

  </p>
  <p>
    <%= form.label :photo %>
    <%= form.file_field :image , required:true %>
  </p>
  <p>
    <%= form.submit 'Save', class:'btn btn-success' %>
  <%= link_to 'Back', articles_path, class:'btn btn-info'%>
  </p>
  <% end %>

</div>