<body style="background-color:white ; height:100%;">
<nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">RailsBlog</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to 'Home', articles_path%></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span><%= current_user.present? ?  current_user.email : ''%> </a></li>
      <li><% if current_user.present? %>
          <%= link_to "Logout",  destroy_user_session_path,method: :delete , class: 'btn'%>
        <%else %>
          <%= link_to "Login", user_session_path %>
        <%end %></li>

    </ul>
  </div>
</nav>

<div class="center">

  <h2><%= @article.title%></h2><br>
  <!--    <div class="panel-body"> <%#= @article.body  %></div>-->
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-1">
        <img src="/img/user.jpg" alt="User image" class="user_image">

      </div>
      <div class="col-md-6" style="margin-left:10px;">
        <p>
          <strong><%= @article.user.name %></strong>

          <%= link_to 'Follow', articles_path, class:'btn btn-info'%>
        </p>
        <p><%= @article.created_at.strftime("%m/%d/%Y %I:%M%p")  %></p>
      </div>
      <strong>#<%@article.tags.each do |t|%>
        <%= t.line %>
          <%end %></strong>
    </div>
  </div>

  <!--    <img src="/img/logo1.jpg" alt="User image" class="comment_image">-->

  <div class="center1">
    <%#= image_tag(@article.image)  %>
    <%= image_tag("img/logo2.jpg") %>

  </div>

  <br>
  <%= sanitize @article.body , tags: %w(strong em a b font br p table tbody tr td ol li u img iframe span blockquote pre h1 h2 h3 h4 h5 h6 div strike hr),
               attributes: %w(href face class src style ta rget frameborder width height color)%>


</div>

<div class="center">
  <%if current_user.present? %>
    <% if current_user.id == @article.user.id %>


      <%= link_to 'Edit', edit_article_path(@article),class:'btn btn-warning' %>
    <%end %>
  <%end %>

  <%if current_user.present? %>
    <% if current_user.id == @article.user.id %>
      <%= link_to 'Destroy', article_path(@article), method: :delete, class:'btn btn-danger', data: { confirm: 'Are you sure?' } %>
    <%end %>
  <%end %>

  <section class="section comments">
    <div class="container">
      <div class="comment-form">

        <% if current_user.present? %>
          <h3 class="subtitle is-3", style="color:#2E2F30; font-family: Times New Roman; ">Leave a reply</h3>
          <%= render 'comments/form' %>
        <%end %>
      </div>
      <h2 class="subtitle is-5"><strong><%= @article.comments.count %></strong> Comments</h2>
      <%= render @article.comments %>

    </div>
  </section>
</div>

</body>